.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav-wrapper {
  width: 90%;
  margin: auto;
  padding: 10px;
}

.post {
  padding: 2em;
  width: 100%;
}

.post .card-image {
  width: 100%;
  height: 40vh;
  text-align: center;
}


.post .card-title {
  position: absolute;
  z-index: 100;
  margin-left: -282px;
  top: 288px;
  color: white;
  font-size: larger;
}

.post .card-image img {
  width: 30%;
  height: 40vh;
}
.post .card-content{
  width: 49%;
  padding: 2em;
}

.p-4{
  padding: 4px;
}

.centralize{
  display: flex;
  justify-content: center;
  align-items: center;
}

#formPost{
  margin-top: 5%;
}